<!-- app.component.html -->
<div class="container">
  <h1>Sleeve 2</h1>
  <p><b>The ultimate music accessory for your Mac.</b></p>
  <div class="content">
    <p>Currently sits on the desktop, displaying music & controlling the music you're</p>
    <p>playing in
      <img src="../assets/AppMusic.png" alt="App Music">
      Apple Music, <img src="../assets/AppSpotify.png" alt="Spotify">Spotify, and <img src="../assets/AppDoppler.png"
        alt="Doppler">Doppler.
    </p>
  </div>
  <div class="button-container">
    <button>Mac App Store</button>
    <button>Buy Directly ($5.99)</button>
  </div>
  <p>No Subscription. No In-app purchases. Requires macOS 10.14 or later.</p>
  <br />
  <!-- <div class="notification-container">
      <img src="../assets/ShelfCallout.png" alt="Icon" class="notification-icon">
      <div class="notification-body">
          Now with shelves and a progress bar. See what's new in Sleeve 2.3
          <span class="arrow-icon">&rarr;</span>
      </div>
    </div> -->

  <div class="notification-container">
    <img src="../assets/ShelfCallout.png" alt="Icon" class="notification-icon">
    <div class="notification-body">
      Now with shelves and a progress bar. See what's new in Sleeve 2.3
      <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="10" fill="none" stroke="currentColor" stroke-width="2" />
        <path fill="currentColor" d="M12 6l6 6-6 6" />
      </svg>
    </div>
  </div>

  <p class="next"><b>Themes. Unlimited themes.</b></p>
  <div class="content">
    <p>Themes in Sleeve make creating and switching between customizations easy. Share your own</p>
    <p>creations with friends and install as many themes as you like with just a double-click.</p>
  </div>  

  <div><img src="../assets/ssp.png"></div>

</div>